# See https://pre-commit.com for more information
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: complexipy
        name: complexipy
        entry: uv run complexipy . --max-complexity-allowed 999
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run pyright .
        language: system
        pass_filenames: false